@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./global.css);

* {
  box-sizing: border-box;
}

html,
body {
  @apply h-full bg-white;
}

#root {
  @apply min-h-screen relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Pokemon";
  src: url(./assets/fonts/pokemon_solid.ttf) format("truetype");
}
